{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="login-form">
                            <form class="row" method="post">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <label>Username</label>
                                    <input class="form-control" name="username" type="text" placeholder="Username">
                                </div>
                                <div class="col-md-12">
                                    <label>Password</label>
                                    <input class="form-control" name="password" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-12 forgot-password">
                                    <a href="{% url 'user:reset_password' %}">Forgot Password?</a>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Login</button>
                                </div>
                            </form>
                            <div class="login-register-link">New to Ghimire Stores? <a href="{% url 'user:register' %}">Create an Account</a></div>
                        </div>
                    </div>
                    <div class="col-lg-7"></div>
                </div>
            </div>
        </div>
        <!-- Login End -->

{% endblock %}
