{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="login-form">
                    <form class="row" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="col-md-12">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {{field.errors|striptags}}
                        {% endfor %}
                        <div class="col-md-12">
                            <button class="btn">Send Email</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</div>

{% endblock %}
