{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="register-form">
                            <form method="post" class="row">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input class="form-control" name="first_name" type="text" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                    <input class="form-control" name="last_name" type="text" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Username</label>
                                    <input class="form-control" name="username" type="text" placeholder="Username">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" name="email" type="email" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input class="form-control" name="password" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input class="form-control" name="confirm_password" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Register</button>
                                </div>
                            </form>
                            <div class="login-register-link">Already have an account? <a href="{% url 'user:login' %}">Login here</a></div>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
        </div>
        <!-- Login End -->

{% endblock %}
